<html lang="en">
<head>
    <style>
        input {
            display: block
        }
    </style>
</head>
<body>
    <form action="/login" method="POST">
        name: <input type="text" name="username" />
        password:<input type="password" name="password" value="password" />
        <input type="submit" value="login" />
    </form>
</body>
</html>
<!--!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Login Page</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">

    <script src="loginclient.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Website Name</h1>
    </header>

    <main>
      <h2>Login</h2>

      <form>
        <label>
          Username
          <input name="username" type="text" maxlength="100" required placeholder="Username">
        </label>
        
        <label>
          Password
          <input name="password" type="text" maxlength="100" required placeholder="Password">
        </label>
        
        <button type="submit" id="login">Login</button>
      </form>
      
      
    </main>
  
  </body>
</html-->
