<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Todo List</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <link rel="stylesheet" href="/style.css">


    <script src="/client.js" defer></script>
</head>
<body>
    <header>
        <h1>Todo list</h1>
    </header>

    <main>
        <h2>Enter to do here</h2>

        <form>
            <label>
                New Dream
                <input name="dream" type="text" maxlength="100" required placeholder="Dreams!">
            </label>

            <button type="submit" id="submit-dream">Add Dream</button>
        </form>

        <div><button type="remove" id="remove-dream">Remove Dream</button></div>
        <form>
            <label>
                Modify Dream
                <input name="dreamModify" type="text" maxlength="100" required placeholder="Change Dream">
            </label>
            <button type="modify" id="modify-dream">Change Dream</button>
        </form>
        <div></div>

        <section class="dreams">
            <ul id="dreams"></ul>
        </section>
        <table id="todoList" class="todoTable">
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Most Urgent</th>
            </tr>
        </table>
    </main>
</body>
</html>

<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!--DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Todo List</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <link rel="stylesheet" href="/style.css">


    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Todo list</h1>
    </header>

    <main>
      <h2>Enter to do here</h2>

      <form>
        <label>
          New Dream
          <input name="dream" type="text" maxlength="100" required placeholder="Dreams!">
        </label>

        <button type="submit" id="submit-dream">Add Dream</button>
      </form>

      <div><button type="remove" id="remove-dream">Remove Dream</button></div>
      <form>
        <label>
          Modify Dream
          <input name="dreamModify" type="text" maxlength="100" required placeholder="Change Dream">
        </label>
        <button type="modify" id="modify-dream">Change Dream</button>
      </form>
      <div></div>

      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
  </body>
</html-->
